name: SauceLabs Integration Tests (UI5 1.71 / IE11)

# Prevent multiple parallel executions as the OpenSauce account is quite limited
concurrency: SauceLabs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    name: SauceLabs Integration Tests (UI5 1.71 / IE11)

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.2
    - name: Use Node.js LTS 20.x
      uses: actions/setup-node@v4.1.0
      with:
        node-version: 20.x
    - run: npm ci
    - name: Install @openui5/sap.ui.core@1.71.x
      run: npm install -D @openui5/sap.ui.core@1.71.x
    - name: Start sauce-connect
      uses: saucelabs/sauce-connect-action@v2.3.7
      with:
        username: ${{ secrets.SAUCE_USERNAME }}
        accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
        tunnelIdentifier: github-${{ github.run_id }}
        region: eu-central
      # Prevents step from running for forks, which doesn't work as secrets are not available
      if: env.SAUCE_USERNAME != null
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}

    - run: npm run integration-saucelabs
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      # Prevents step from running for forks, which doesn't work as secrets are not available
      if: env.SAUCE_USERNAME != null
